---
import Layout from '../../../../layout/Layout.astro';
---

<Layout title="Políticas de privacidad - MemoryCleaner App">
  <div class="flex flex-col justify-center m-auto" style="max-width: 600px">
    <span class="block text-lg font-bold mx-auto my-4">Políticas de privacidad</span>
    <p>
      Gracias por utilizar nuestra aplicación de limpieza de memoria para dispositivos Android. Nos
      preocupamos por su privacidad y nos comprometemos a proteger su información personal.
    </p>

    <p class="mt-4">
      Esta política de privacidad tiene como objetivo informarle sobre qué datos recopilamos, cómo los
      utilizamos y cómo los protegemos en el contexto de nuestra aplicación. Al descargar, instalar y utilizar
      nuestra aplicación, usted acepta los términos y condiciones de esta política.
    </p>

    <span class="title_policy">Información recopilada</span>
    <p>
      Nuestra aplicación de limpieza de memoria solo accede a los archivos y la memoria de su dispositivo
      Android para realizar la función principal de liberar espacio y optimizar el rendimiento. No recopilamos
      ni almacenamos ningún tipo de información personal, como nombres, direcciones de correo electrónico,
      números de teléfono, ubicación geográfica, información de cuentas o cualquier otro dato personal
      identificable.
    </p>

    <span class="title_policy">Uso de la información</span>
    <p>
      La información a la que accedemos se utiliza únicamente para llevar a cabo la función de limpieza de
      memoria. No compartimos, vendemos ni transferimos de ninguna manera la información recopilada a
      terceros, a menos que sea requerido por la ley o las autoridades competentes.
    </p>

    <span class="title_policy">Anuncios de AdMob</span>
    <p>
      Nuestra aplicación muestra anuncios proporcionados por AdMob, un servicio publicitario de Google. Tenga
      en cuenta que AdMob tiene su propia política de privacidad que rige la recopilación, el uso y la
      divulgación de la información recopilada a través de los anuncios. Le recomendamos revisar la política
      de privacidad de AdMob para obtener más información sobre cómo manejan los datos de los usuarios.
    </p>

    <span class="title_policy">Enlaces a sitios web de terceros </span>
    <p>
      Nuestra aplicación puede contener enlaces a sitios web de terceros. No nos responsabilizamos de las
      prácticas de privacidad o el contenido de dichos sitios web. Le recomendamos leer las políticas de
      privacidad de terceros antes de proporcionar cualquier información personal o utilizar sus servicios.
    </p>

    <span class="title_policy">Seguridad</span>
    <p>
      Implementamos medidas de seguridad adecuadas para proteger la información que se encuentra bajo nuestro
      control. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet o
      almacenamiento electrónico puede garantizarse como 100% segura. Por lo tanto, no podemos garantizar la
      seguridad absoluta de su información.
    </p>

    <span class="title_policy">Cambios en la política de privacidad</span>
    <p>
      Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier
      cambio se publicará en esta página con una fecha actualizada. Le recomendamos que revise periódicamente
      esta política para estar informado sobre cómo protegemos su información.
    </p>

    <span class="title_policy">Contacto</span>
    <p>
      Si tiene alguna pregunta, inquietud o solicitud relacionada con esta política de privacidad, no dude en
      ponerse en contacto con nosotros a través de los datos de contacto proporcionados en la tienda de
      aplicaciones de Android.
    </p>

    <span class="title_policy">Monedata Disclosure</span>
    <p>
      Monedata Ltd (128 City Road, Londres, EC1V 2NX, Reino Unido, privacidad@monedata.io)
      <br />
      Esta aplicación utiliza complementos de terceros que recopilan datos variados, que pueden incluir identificadores
      de dispositivos, ubicación, cobertura y rendimiento de la red móvil, Lista de aplicaciones instaladas y estadísticas
      de uso.
      <br />
      Con el consentimiento del usuario, estos datos serán recopilados y compartidos con aquellos terceros para
      fines de análisis y medición. El usuario puede cambiar su en cualquier momento modificando el consentimiento.
      <br />
      Para obtener más información sobre los datos recopilados y ver la lista de socios, por favor visita la sección
      de Socios de Monedata.
    </p>
    <!-- <p>
      Monedata Ltd (128 City Road, London, EC1V 2NX, United Kingdom,
      privacy@monedata.io)
      <br />
      This app uses third-party addons that collect varied data, which may include
      device identifiers, location, mobile network coverage and performance,
      installed apps list and usage stats.
      <br />
      With the user's consent, this data will be collected and shared with those
      third-parties for analysis and measurement purposes. The user can change his
      mind at any time by changing the consent.
      <br />
      To learn more about the data collected and see the list of partners, please
      visit Monedata’s Partners section.
    </p> -->

    <span class="my-4"> Última actualización: 04 - Enero - 2024 </span>

    Esta política de privacidad se aplica únicamente a nuestra aplicación de limpieza de memoria y no a otras
    aplicaciones o servicios proporcionados por terceros.
  </div>
</Layout>
