---
import CardCharacteristicsApp from '../CardCharacteristicsApp.astro';
import { motion } from 'framer-motion';

interface Props {
  language: string;
}

const { language } = Astro.props;

const isSpanish = language == 'es';
---

<article id="what_is_best_memory_cleaner" class="mx-auto my-8 p-2 sm:p-4">
  <motion.h3
    initial={{ translateX: 30 }}
    whileInView={{ translateX: 0 }}
    client:visible
    className="text-center text-3xl my-4"
  >
    {isSpanish ? '¿Porque somos el mejor limpiador de memoria?' : 'Why are we the best memory cleaner?'}
  </motion.h3>
  <div>
    <motion.p
      initial={{ opacity: 0 }}
      whileInView={{ opacity: 1 }}
      transition={{ delay: 0.2 }}
      client:visible
    >
      {
        isSpanish
          ? 'En la era digital, la optimización del rendimiento de tu dispositivo es más crucial que nunca. Nuestra aplicación de limpiador de memoria se destaca entre la multitud, ofreciendo una solución integral para mantenertu dispositivo en su mejor forma. Aquí te presentamos algunas razones por las cuales somos el mejor limpiador de memoria'
          : `In the digital age, optimizing your device's performance is more crucial than ever. Our memory cleaner app is stands out from the crowd, offering a comprehensive solution to maintain your device in its best shape. Here we present some reasons why which we are the best memory cleaner`
      }
    </motion.p>
    <div class="grid grid-cols-1 md:grid-cols-3 my-8 gap-2">
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/inteligence.json"
        titleCard={isSpanish ? 'Eliminación Inteligente de Archivos' : 'Smart File Deletion'}
        textCard={isSpanish
          ? 'Nos especializamos en identificar y eliminar esos molestos archivos del sistema que se crean y se utilizan una sola vez, liberando espacio valioso en tu dispositivo'
          : 'We specialize in identifying and removing those pesky one-time system files, freeing up valuable space on your device.'}
      />
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/temp-files.json"
        titleCard={isSpanish
          ? 'Gestión de Archivos Temporales y Caché'
          : 'Temporary File and Cache Management'}
        textCard={isSpanish
          ? 'Eliminamos de manera eficaz archivos temporales y de caché, mejorando el rendimiento general y acelerando la respuesta de tu dispositivo.'
          : `We effectively remove temporary and cache files, improving overall performance and speeding up your device's response.`}
      />
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/hidden-files.json"
        titleCard={isSpanish ? 'Limpieza Profunda de Archivos Ocultos' : 'Deep Clean Hidden Files'}
        textCard={isSpanish
          ? 'Nuestra avanzada tecnología de exploración detecta y elimina archivos ocultos, asegurando que ningún rincón de tu memoria se quede sin optimizar.'
          : `Our advanced scanning technology detects and removes hidden files, ensuring that no corner of your memory is left unoptimized.`}
      />
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/selective-files.json"
        titleCard={isSpanish
          ? 'Eliminación Selectiva de Archivos Grandes'
          : 'Selective Deletion of Large Files'}
        textCard={isSpanish
          ? 'Con la capacidad de identificar y eliminar archivos grandes, te proporcionamos el control para liberar espacio según tus preferencias y necesidades.'
          : 'With the ability to identify and delete large files, we give you the control to free up space based on your preferences and needs.'}
      />
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/folders.json"
        titleCard={isSpanish ? 'Limpieza Específica de Carpetas' : 'Specific Folder Cleaning'}
        textCard={isSpanish
          ? 'Desde la carpeta de descargas hasta las capturas de pantalla, nos aseguramos de abordar cada área crítica de almacenamiento, manteniendo tu dispositivo organizado y eficiente.'
          : 'From the downloads folder to screenshots, we made sure to address every critical storage area, keeping your device organized and efficient.'}
      />
      <CardCharacteristicsApp
        lottieAnim="/limpiador-de-memoria/anims/redes.json"
        titleCard={isSpanish ? ' Limpieza Específica de Mensajería' : 'Specific Messaging Cleaning'}
        textCard={isSpanish
          ? 'Desde archivos enviados por WhatsApp hasta mensajes multimedia, nos aseguramos de que ninguna aplicación de mensajería contribuya al desorden innecesario en tu dispositivo.'
          : 'From files sent on WhatsApp to multimedia messages, we make sure that no messaging app contributes to unnecessary clutter on your device.'}
      />
    </div>
    <motion.p
      initial={{ opacity: 0 }}
      whileInView={{ opacity: 1 }}
      client:visible
      className="text-2xl text-center"
    >
      {
        isSpanish
          ? 'Estamos actualizando constantemente los algoritmos en búsqueda de mas archivos generados automáticamente por el sistema los cuales ralentizan tudispositivo.'
          : 'We are constantly updating the algorithms in search of more files automatically generated by the system which slow down your device.'
      }
    </motion.p>
  </div>
</article>
