---
import { ButtonDownloadApp } from '.';
import { motion } from 'framer-motion';

interface Props {
  language: string;
}

const { language } = Astro.props;

const isSpanish = language == 'es';
---

<nav class="flex md:flex-row justify-between items-center">
  <a href=`/tecnolapps/limpiador-de-memoria/${language}`>
    <figure class="brand cursor-pointer flex items-center gap-4 py-2 justify-start">
      <motion.img
        initial={{ opacity: 0 }}
        whileInView={{ opacity: 1 }}
        client:visible
        className="w-14"
        src="/limpiador-de-memoria/icon.png"
        alt={isSpanish ? 'icono de la aplicación limpiador de memoria' : 'memory cleaner app icon'}
      />
      <motion.figcaption
        initial={{ translateX: -100, opacity: 0 }}
        whileInView={{ translateX: 0, opacity: 1 }}
        client:visible
      >
        <h1 class="text-lg sm:text-2xl">
          {isSpanish ? 'Limpiador de memoria' : 'Memory cleaner'}
        </h1>
        <h2 class="text-xs sm:text-sm text-gray-300">
          {isSpanish ? 'Limpiador de teléfono gratis' : 'Free phone cleaner'}
        </h2>
      </motion.figcaption>
    </figure>
  </a>
  <ol class="flex items-center gap-4 text-lg cursor-pointer px-4">
    <li class={`question_navbar`}>
      <a href=`/tecnolapps/limpiador-de-memoria/${language}/#what_is_best_memory_cleaner`>
        <h2>
          {isSpanish ? '¿Cual es el mejor limpiador de memoria?' : 'What is the best memory cleaner?'}
        </h2>
      </a>
    </li>
    <li>
      <ButtonDownloadApp
        client:load
        message={isSpanish ? 'Descargar' : 'Download'}
        className="hidden sm:block button_download-navbar mt-8 md:mt-0"
      />
    </li>
  </ol>
</nav>
