---
import Layout from '../../../../layout/Layout.astro';
---

<Layout title="Políticas de privacidad - Passion Nails App">
  <div class="flex flex-col justify-center m-auto" style="max-width: 600px;">
    <span class="block text-lg font-bold mx-auto my-4">Políticas de privacidad</span>

    <p>
      Passion Nails respeta y valora la privacidad de sus usuarios. Esta Política de Privacidad describe cómo
      recopilamos, utilizamos, almacenamos y protegemos la información que se obtiene a través de nuestra
      aplicación. Al utilizar Passion Nails, usted acepta las prácticas descritas en esta política.
    </p>

    <span class="title_policy">Anuncios de Google AdMob</span>
    <p>
      Nuestra aplicación utiliza los servicios de Google AdMob para mostrar anuncios. Tenga en cuenta que los
      anuncios son proporcionados y gestionados por Google, y están sujetos a la política de privacidad de
      Google. No tenemos acceso ni control sobre los datos recopilados por Google AdMob. Recomendamos revisar
      la política de privacidad de Google para obtener más información sobre cómo procesan y protegen los
      datos del usuario.
    </p>
    <span class="title_policy">No Recopilamos Datos</span>
    <p>
      Queremos destacar que no recopilamos ni almacenamos ninguna información personal identificable de
      nuestros usuarios. No solicitamos nombres, direcciones de correo electrónico, números de teléfono ni
      ningún otro dato personal.
    </p>
    <span class="title_policy">Uso de Imágenes</span>
    <p>
      Las imágenes utilizadas en nuestra aplicación no son propiedad de nuestra empresa. Hemos obtenido las
      imágenes de fuentes públicas y con licencia adecuada para su uso no comercial en la aplicación. Si
      considera que alguna de las imágenes utilizadas viola los derechos de autor o la propiedad intelectual,
      le pedimos que nos contacte para que podamos tomar medidas correctivas.
    </p>
    <span class="title_policy">Uso de API de Facebook Graph</span>
    <p>
      Nuestra aplicación utiliza la API de Facebook Graph para obtener imágenes públicas y compartidas en la
      red social. La API de Facebook Graph permite acceder a imágenes públicas que los usuarios han compartido
      en sus perfiles, y solo utilizamos esta funcionalidad para mostrar imágenes públicas relevantes dentro
      de la aplicación.
    </p>

    <span class="title_policy">Seguridad de Datos</span>
    <p>
      Su privacidad es importante para nosotros, y tomamos medidas para proteger su información. Implementamos
      medidas de seguridad técnicas y organizativas para salvaguardar los datos de acceso no autorizado,
      pérdida, alteración o divulgación.
    </p>

    <span class="title_policy">Información de Dispositivo</span>
    <p>
      Para mejorar la funcionalidad y la experiencia del usuario, podemos recopilar información no personal
      sobre el dispositivo utilizado para acceder a la aplicación, como el modelo del dispositivo, versión del
      sistema operativo, idioma, resolución de pantalla y otros datos técnicos similares. Estos datos se
      utilizan para fines estadísticos y no se asocian con su identidad personal.
    </p>

    <span class="title_policy">Enlaces a Terceros</span>
    <p>
      Nuestra aplicación puede contener enlaces a sitios web de terceros. Tenga en cuenta que no tenemos
      control sobre el contenido o las prácticas de privacidad de estos sitios. Le recomendamos que revise las
      políticas de privacidad de los sitios web de terceros antes de proporcionar cualquier información.
    </p>

    <span class="title_policy">Cambios en la Política de Privacidad</span>
    <p>
      Podemos actualizar esta Política de Privacidad ocasionalmente. Las versiones actualizadas estarán
      disponibles en esta página y la fecha de "última actualización" se modificará en consecuencia. Le
      recomendamos que consulte periódicamente esta página para estar al tanto de cualquier cambio en nuestras
      prácticas de privacidad.
    </p>
    <p>
      Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad o la forma en que tratamos los
      datos, no dude en ponerse en contacto con nosotros a través de [correo electrónico de contacto].
    </p>

    <span class="my-4"> Fecha de última actualización: 01 - Agosto - 2023 </span>

    <p>
      Al utilizar nuestra aplicación, usted acepta y consiente el tratamiento de sus datos personales según lo
      establecido en esta Política de Privacidad. Gracias por confiar en Passion Nails para proteger su
      privacidad.
    </p>
  </div>
</Layout>
