---
import { motion } from "framer-motion";
import ProgrammingLanguages from "../../ProgrammingLanguages";
import TitleSection from "../../title-section.astro";
---

<article id="about_me">
	<TitleSection title="Sobre mi" />
	<div class="content-aboutme">
		<div class="grid grid-cols-1 sm:grid-cols-5 items-center justify-center">
			<motion.div
				client:visible
				initial={{ opacity: 0 }}
				whileInView={{ opacity: 1 }}
				transition={{ delay: 0.2 }}
				className="m-auto w-full sm:block sm:col-span-2"
			>
				<img
					class="img_photo"
					loading="lazy"
					src="/assets/photo__.jpg"
					alt="Foto de Leonardo Henao"
				/>
			</motion.div>
			<div class="sm:col-span-3 p-2">
				<p>
					Con más de 5 años de experiencia destacada en la creación y
					optimización de aplicaciones y páginas web. Mi especialización se
					centra en el
					<span class="important">desarrollo frontend</span> con enfoque principal
					en <span class="important">React</span> y <span class="important"
						>AstroJS.</span
					>
				</p>
				<p>
					Durante mi trayectoria, he demostrado habilidades sobresalientes en la
					creación de
					<span class="important">aplicaciones Android</span> utilizando Kotlin.
					Además, poseo un conocimiento profundo de tecnologías web clave, como
					<span class="important">HTML, CSS, JavaScript, Typescript</span> y he trabajado
					con marcos de trabajo líderes como
					<span class="important">Angular, Astro, React y Tailwind CSS</span>.
					Mi experiencia también abarca el uso de
					<span class="important">.NET (C#),</span>
					<span class="important">Django (Python)</span> y en el ámbito de bases
					de datos <span class="important">MySQL y MongoDB</span>.
				</p>
				<p>
					Mi enfoque se complementa con una sólida comprensión de patrones de
					diseño, incluyendo MVC y Atomic Design, así como patrones de
					arquitectura como DDD. Mi método de trabajo se alinea con prácticas
					ágiles como Scrum, y cuento con habilidades avanzadas en el control de
					versiones a través de
					<span class="important">Git y GitHub.</span>
				</p>
			</div>
		</div>
		<div class="p-6 text-lg">
			Estoy convencido de que mi experiencia y enfoque especializado pueden
			aportar significativamente al éxito y la innovación de su empresa. Estoy
			emocionado por la oportunidad de discutir cómo mis habilidades pueden
			complementar sus objetivos empresariales y contribuir al crecimiento
			sostenible de su organización.
		</div>
	</div>
	<ProgrammingLanguages client:visible />
	<style>
		p {
			margin: 0.5rem 0;
			padding: 4px;
		}

		.content-aboutme {
			background-color: var(--cl-black-02);
			border-radius: 1rem;
		}

		.content-aboutme .img_photo {
			border-radius: 1rem 0 0 1rem;
			max-width: 310px;
			margin: 0.5rem auto;
			mix-blend-mode: difference;
		}
	</style>
</article>
